
---
import { profileConfig } from '../config' // 导入配置文件中的 profileConfig
---

<!-- 页面底部卡片 -->
<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <!-- 底部版权信息 -->
    <div class="transition text-50 text-sm">
        © 2024 {profileConfig.name}。保留所有权利。
        <br>
        <!-- 底部版权信息 -->
        由 <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/li1023qwq/blog">晚夜深秋</a> 提供支持
    </div>
</div>
